/* General reset */
@font-face {
    font-family: 'norsebold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Defaulting to the system font of a particular operating system */
:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--system-ui);
    line-height: 1.5;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Main layout */
main {
    height: 100vh;
    display: flex;
}

/* Aside layout  */
aside {
    background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    height: 100%;
    width: 70%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside .logo {
    width: 100%;
    height: 100px;
    background-color: #0006 ;
    margin-top: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 80px;
}

.logo span {
    font-family: 'norsebold';
    font-size: 60px;
}

aside .bg-img-credit {
    margin-bottom: 7px;
    font-size: 10px;
}

aside .bg-img-credit a:link {
    color: #ffffff;
}

/* Form section layout [description]*/
.form-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f6f6;
}

.description {
    width: 500px;
    margin:  100px 0 40px 40px;
    font-weight: 900;
}

.description p {
    margin-bottom: 20px;
}

/* Form section layout [form]*/
form .user-info {
    border: none;
    background-color: #ffffff;
    padding: 50px 140px 10px 40px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    box-shadow: 0px 7px 7px #e6e6e6;
}

form .user-info legend {
    position:absolute;
    top:10px;
    font-weight: 500;
    font-size: 18px;
}

form .user-info > div {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    width:200px;
}

label,
input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
    font-size: 8px;
    letter-spacing: 1px;
}

input {
    font-size: 10px;
    padding: 4px;
    border: solid 1px #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border: solid 1px #3945f1;
    box-shadow: 3px 4px 2px #e6e6e6;
}

input[type="password"]:invalid {
    border: solid 1px #b90e0e;
}

.form-submit {
    margin: 25px 0 0 40px;
    font-size: 10px;
    font-weight: 600;
}

.form-submit button {
    border: none;
    margin-bottom: 25px;
    padding: 8px 35px 8px 35px;
    background-color: #596D48;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.form-submit  a {
    text-decoration: none;
    color: #596D48;
}